<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASQ_u5aoY01Cy6mTI34GW8VetkO7alRGw</string>
	<key>GCM_SENDER_ID</key>
	<string>764401158559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.logic-games</string>
	<key>PROJECT_ID</key>
	<string>trainyourbrain-499c6</string>
	<key>STORAGE_BUCKET</key>
	<string>trainyourbrain-499c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764401158559:ios:1ead54210f4f49b8c315aa</string>
</dict>
</plist>